<h1>Found Items</h1>

<% if !@found_items.blank? %>
<table class="item-table">
	<thead>
		<tr>
			<td>Image</td>
			<td>Item Description</td>
			<td>Item ID</td>
			<td>Location Found</td>
			<td>Current Location</td>
			<td>Status</td>
		</tr>
	</thead>
	<tbody>
	<% @found_items.reverse.each do |f| %>
		<tr>
			<td>
				<%= link_to f.image.url(:large) do %>
					<%= image_tag f.image.url(:thumb) %>
				<% end %>
			</td>
			<td>
				<%= f.product %> - <%= f.description %> 
			</td>
			<td>
				<%= f.item_id %>
			</td>
			<td>
				<%= f.location_found %>
			</td>
			<td>
				<%= f.current_location %>
			</td>
			<td>
				<% if f.claimed_status %>
					Claimed!
				<% else %>
					Unclaimed
					<% if !current_user.nil? and current_user.admin %>
					<%= link_to 'Mark as Claimed', found_items_toggle_status_url(f) %>
					<% end %>
				<% end %>
				
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>