<div class="login">
	<% if current_user %>
		<%= link_to 'Log Out', logout_path %>
	<% else %>
		<%= form_tag sessions_path do %>
		  Sign In: <%= text_field_tag :email, params[:email] %>
		  <%= password_field_tag :password %>
			<%= submit_tag "Log In" %>
		<% end %>
	<% end %>
</div>

<h1>Lost Items</h1>

<p><%= link_to "Add New Item", new_found_item_url %></p>

<% if !@found_items.blank? %>
	<% @found_items.reverse.each do |f| %>
		<p>
			<%= link_to f.product, f %><br />
			Found? <%= f.claimed_status %>
				<% if current_user %>
					<% if current_user.admin %>
						| <%= link_to 'Mark as Claimed', found_items_toggle_status_url(f) %>
					<% end %>
				<% end %>
			<br />
			Keywords: [<% f.keywords.each do |k| %>
				<%= k %>
			<% end %>]
			<br />
		</p>
	<% end %>
<% end %>

<h1>Found Items</h1>