<h1>Found Items</h1>

<p>Please fill out the following form and we'll get back to you when we find something matching the description</p>

<%= form_for @found_item do |f| %>
	<p>
		<%= f.label "Found Item" %>
		<%= f.text_field :product %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :keywords %>
		<%= f.text_field :keywords %>
	</p>
	<p>
		<%= f.submit "Report Lost Item" %>
	</p>
<% end %>