<h1><%= @found_item.product %></h1>

Found? <%= @found_item.claimed_status %><br />
Keywords: [<% @found_item.keywords.each do |k| %>
	<%= k %>
<% end %>]<br />
<%= image_tag @found_item.image.url(:large) %>
<br /><br />
<%= link_to "Back", found_items_url %>