<!DOCTYPE html>
<html>
<head>
  <title>OutsideLOAF - OutsideLands Lost and Found</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- outsidelands font! -->
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width" />

  <!-- mixpanel -->
  	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!== typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]); b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]); mixpanel.init("9c33be990f3f843538678ff0f984835d");</script>
 <!-- end Mixpanel -->

 <!-- google analytics -->
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43070085-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end google analytics -->

</head>
<body>

<div id="workspace">

<%= render partial: "layouts/navigation" %>
<div id="notice">
  Found items can be picked up at the Bill Graham Civic Auditorium security desk located at <a href='https://www.google.com/maps?sll=37.75769999999999%2C-122.43759999999999&sspn=0.2084825093463569%2C0.3516272431708342&t=m&ll=37.77849909999998%2C-122.41746699999995&q=99+Grove+St%2C+San+Francisco%2C+CA+94102&spn=0.006639618768941139%2C0.011200678660153894&output=classic'>99 Grove Street, San Francisco, CA, 94102</a>. Hours are Monday-Friday 9am-5pm and Saturday 10am-4pm. Items will be available for pickup through Saturday, September 7.
</div>

<% if flash[:message].present? %>
<div id="flash">
  <span id="flash_message"><%= flash[:message] %></span>
</div>
<% end %>

<div id="container">
	<%= yield %>
</div>

<div id="contact">
  <h3>
    Lost? Confused? Reach us here:
  </h3>
  <br/>
  Phone: (415) 237-6021
  <br/>
  Email: lostandfound@sfoutsidelands.com
  <br/><br/>
    Created with love and silliness by <a href="http://twitter.com/andyjiang">Andy Jiang</a>, <a href="http://twitter.com/yujiangtham">Yu Jiang Tham</a> and <a href="http://twitter.com/lunchbag">Jennifer Yip</a> for <a href="http://twitter.com/outsidehacks">OutsideHacks</a>, the official Outside Lands Hackathon.
  <br/><br/><a href="/terms">Terms of Use & Privacy Policy</a>
</div>

<div style="clear;both"></div>

</div>

<br />
<!-- <div style="background-color:#ddd;margin:20px;padding:10px;border:1px solid #000">
	<%= debug(params) if Rails.env.development? %>
</div>
 -->

<%= yield :js %>

</body>
</html>
