<!DOCTYPE html>
<html>
<head>
  <title>OutsideLOAF - OutsideLands Lost and Found</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- outsidelands font! -->
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width" />

  <!-- mixpanel -->
  	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!== typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]); b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]); mixpanel.init("9c33be990f3f843538678ff0f984835d");</script>
 <!-- end Mixpanel -->
 
</head>
<body>

<div id="workspace">

<%= render partial: "layouts/navigation" %>
<div id="notice">
  Official Outside Lands Lost and Found Number: 415-524-7714 (SMS only)
</div>

<% if flash[:message].present? %>
<div id="flash">
  <span id="flash_message"><%= flash[:message] %></span>
</div>
<% end %>

<div id="container">

	<%= yield %>
</div>

<div style="clear;both"></div>

</div>

<br />
<!-- <div style="background-color:#ddd;margin:20px;padding:10px;border:1px solid #000">
	<%= debug(params) if Rails.env.development? %>
</div>
 -->

<%= yield :js %>

</body>
</html>
